body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


* {
    margin: 0px 0px;

}

.head-container {
    background-image: url('../images/banner/banner2.png');
    width: 1350px;
    height: 800px;
}

.head-item {
    padding: 200px 150px 360px 800px;

}

.head-title {
    color: #151414;
    text-align: right;
    font-size: 50px;
    
}
.head-description{
    color: #444343;
text-align: right;

font-size: 16px;
font-weight: 400;
margin-top: 24px;
}
.head-btn{
    border-radius: 5px;
background: #F15B22;
padding: 20px 20px;
border: none;
color: #FFF;
text-align: right;
font-size: 20px;
font-weight: 600;
width: 160px;
height: 60px;
margin-left: 240px;
margin-top: 30px;
}
/* failure section style */
.failure-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    margin: 100px 150px 100px 150px;
}
.fail-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
}
.fail-description{
    color: #444343;
font-size: 16px;
font-weight: 400;
margin-top: 20px;
}
.fail-list{
    color: #444343;
font-size: 16px;
font-weight: 400;

}
.list-item{
    list-style: none;
    margin-top: 15px;
}
/* plan section style */
.plan-container{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
.plan-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
text-align: center;
}
.plan-item{
    text-align: center;
}
.plan-info{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
}
.plan-description{
    color: #737272;
    font-size: 20px;
    font-weight: 500;
}
/* mind section style */
.mind{
    background-image: url('../images/watch.png');
    width: 1140px;
    height: 300px;
    margin: 100px;
    border-radius: 8px;
}
.mind-title{
    color: #FFF;
font-size: 40px;
font-weight: 700;
padding: 70px 500px 0px 60px;
}
.mind-btn{
    color: #F15B22;
text-align: center;
font-size: 20px;
border-radius: 5px;
background: #FFF;
font-weight: 600;
width: 130px;
height: 50px;
margin-left: 60px;
margin-top: 24px;
border: none;

}